<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<body>
<h1 align="center">Time Card List</h1>
	<br />
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>Site Code</th>
				<th>Contractor Name</th>
				<th>Total Hours</th>
				<th>Total Amount</th>
				<th>Approval Status</th>
				<!-- <th>Add Room</th> -->
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="ts:${displaytslist}">
				<td th:text="${ts.siteCode}"></td>
				<td th:text="${ts.contractorName}"></td>
				<td th:text="${ts.totalHoursWorked}"></td>
				<td th:text="${ts.totalAmount}"></td>
				<td th:text="${ts.approvalStatus}"></td>
				<!-- <td><a th:href="@{/add_room/{id}(id=${hotel.id})}">add room</a></td>  -->
				
<!-- 				<td><a th:href="@{/edit/{id}(id=${employee.id})}">Edit</a></td>  -->
<!-- 				<td><a th:href="@{/delete/{id}(id=${employee.id})}">Delete</a></td> -->
			</tr>

		</tbody>


	</table>
</body>
</body>
</html>